@use '../../../assets/scss/mixins';

.comment {
  border-radius: 8px;
  background: hsl(0 0% 100%);
  box-sizing: border-box;
  padding: 24px;
  scroll-margin-top: calc(var(--size-header-height) + 32px);
  box-shadow:
    0 0 0 .5px hsl(0 0% 0% / 15%),
    0 4px 8px hsl(0 0% 0% / 8%),
    0 8px 24px hsl(0 0% 0% / 10%);
  :global(.redgoose-body) {
    --size-text: 14px;
    --size-text-length: 1.52;
  }
  &__meta {
    margin: 24px 0 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    em {
      display: block;
      font-family: var(--font-eng);
      font-size: 12px;
      color: var(--color-text-blur);
      font-style: normal;
      user-select: none;
    }
    a {
      display: block;
      margin: -10px;
      padding: 10px;
      cursor: pointer;
      border: none;
      background: none;
      box-sizing: border-box;
      @include mixins.button-setup();
      &:active {
        opacity: .5;
      }
      &:focus-visible {
        outline: 2px solid var(--color-key);
        outline-offset: -2px;
        opacity: 1;
      }
      :global(.icon) {
        display: block;
        width: 18px;
        height: 18px;
        stroke-width: 2;
        color: var(--color-key);
      }
    }
  }
  @include mixins.responsive(tablet) {
    padding: 54px;
    :global(.redgoose-body) {
      --size-text: 15px;
      --size-text-length: 1.64;
    }
    &__meta {
      a {
        opacity: 0;
        transition: opacity 120ms ease-out;
      }
    }
    @include mixins.hover() {
      .comment__meta {
        a {
          opacity: 1;
        }
      }
    }
  }
  @include mixins.dark-mode() {
    background: hsl(0 0% 10%);
    box-shadow:
      0 0 0 .5px hsl(0 0% 100% / 10%),
      0 4px 8px hsl(0 0% 0% / 10%),
      0 8px 24px hsl(0 0% 0% / 15%);
  }
}
