@use './libs/mixins';
@import './libs/normalize';

:root {
	--color-text: rgb(34 34 34);
	--color-text-blur: #777;
	--color-key: #b31f37;
	--color-bg: #fafbfc;
	--color-text-code: #4f64ff;
	--font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-eng: 'ortsa', Helvetica, Arial, sans-serif;
	--font-title: 'AritaBuri', sas-serif;
	--font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	@include mixins.dark-mode() {
		color-scheme: dark;
		--color-text: rgb(221 221 221);
		--color-key: #1ccd5c;
		--color-bg: #222;
		--color-text-code: #ffcd3a;
	}
}

body {
	margin: 0;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	font-size: 1rem;
	line-height: 1.62;
	text-size-adjust: 100%;
	background: var(--color-bg);
	color: var(--color-text);
	overflow-x: hidden;
}

body, button, input, textarea, select {
	font-family: var(--font-base);
	text-size-adjust: none;
}
a {
	color: var(--color-key);
}
code, kbd, pre, samp {
	font-family: var(--font-code);
}

::selection {
	background: var(--color-key);
	color: #fff;
}

// load contents
@import './layout';
@import './index';
@import './article';
@import './lightbox';