@import "./libs/valiables";
@import "./libs/mixins";
@import "./libs/normalize";

body {
	margin: 0;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	font-size: 1rem;
	line-height: 1.5;
	text-size-adjust: 100%;
	background: $color-bg;
	color: $color-text-base;
	overflow-x: hidden;
	@include dark-mode() {
		background: $color-dark-bg;
		color: $color-dark-text-base;
	}
}

body, button, input, textarea, select {
	font-family: $font-system;
	text-size-adjust: none;
}
a {
	color: $color-key;
	@include dark-mode() {
		color: #dd2442;
		//color: mix($color-key, #fff, 95%);
	}
}
code, kbd, pre, samp {
	font-family: $font-console;
}

::selection {
	background: $color-key;
	color: #fff;
}

// load contents
@import "./layout";
@import "./index";
@import "./article";
