@import "./libs/valiables";
@import "./libs/mixins";
@import "~redgoose-content-body";

.article {
  margin: 0;
  padding: 20px 1rem 0;
  box-sizing: border-box;

  &__header {
    text-align: center;
    h2 {
      margin: 0;
      font-size: 1.75rem;
      line-height: 1.1;
      letter-spacing: -1px;
    }
    p {
      margin: 2px 0 0;
      font-size: 0;
      span {
        display: inline-block;
        font-size: 11px;
        color: #585858;
        &:nth-child(n+2):before {
          content: ', ';
        }
      }
    }
  }
  &__content {
    margin: 30px 0 0;
  }
  &__nav {
    margin: 40px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
    .wrap {
      position: relative;
      box-sizing: border-box;
      width: 60px;
      font-size: 0;
    }
    .like {
      display: block;
      margin: 0 auto;
      padding: 10px 10px;
      border: none;
      background: transparent;
      font-size: 0;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      outline: none;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      transition: box-shadow 100ms ease-out, background-color 250ms ease-out;
      user-select: none;
      span {
        display: block;
      }
      svg {
        display: block;
        margin: 0 auto;
        width: 38px;
        height: 38px;
        transition: transform 300ms cubic-bezier(.24, 1.35, .8, 1.22);
        .step-1 {
          color: #EB6635;
        }
        .step-2 {
          color: #B31E36;
        }
        .step-3 {
          color: #3422FF;
        }
      }
      em {
        display: block;
        margin: 0 0 0;
        font-style: normal;
        font-family: $font-eng;
        font-size: 11px;
        font-weight: 400;
        color: #aaa;
        transition: opacity 150ms ease-out;
      }
      &.on,
      &:disabled {
        cursor: default;
        svg {
          .step-1 {
            color: #ddd;
          }
          .step-2 {
            color: #bbb;
          }
          .step-3 {
            color: #aaa;
          }
        }
        &:focus {
          outline: none;
        }
        &:active {
          svg {
            transform: none;
          }
        }
      }
      &:active,
      &:focus {
        background: rgba(#000, .05);
        svg {
          transform: scale(1.4) translateY(6px);
        }
        em {
          opacity: 0;
        }
      }
      &:disabled {
        &:active {
          background: none;
          em {
            opacity: 1;
          }
        }
      }
    }
  }

  @include responsive(tablet) {
    padding: 15px $size-container-padding 0;
    &__header {
      h2 {
        font-size: 2rem;
        line-height: 1.1;
        letter-spacing: -1.5px;
      }
      p {
        margin-top: 5px;
      }
    }
    &__content {
      margin: 50px auto 0;
      max-width: 768px;
    }
    &__nav {
      margin-top: 50px;
    }
  }
  @include dark-mode() {
    &__header {
      h2 {
        color: #fff;
      }
      p {
        span {
          color: #999;
        }
      }
    }
    &__nav {
      .like {
        em {
          color: mix(#000, $color-dark-text-base, 50%);
        }
        &:disabled {
          svg {
            .step-1 {
              color: #666;
            }
            .step-2 {
              color: #444;
            }
            .step-3 {
              color: #333;
            }
          }
        }
        &:active,
        &:focus {
          background: rgba(#000, .15);
        }
      }
    }
  }
}
