@import "./libs/mixins";

.index {
  --index-padding: 0px;
  padding: var(--index-padding);
  &__header {
    h2 {
      margin: 0 0 15px;
      padding: 0 20px;
      font-family: var(--font-eng);
      font-size: 24px;
      font-weight: 800;
      letter-spacing: -.75px;
      text-align: center;
    }
  }
  &__articles {
    --articles-column: 1;
    --articles-gap: 0;
    --articles-line: 1px solid #eee;
    display: grid;
    grid-template-columns: repeat(var(--articles-column), 1fr);
    grid-gap: var(--articles-gap);
    border-top: var(--articles-line);
    border-bottom: var(--articles-line);
    box-sizing: border-box;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
  }
  &__empty {
    text-align: center;
    padding: 10vh 0 5vh;
    figure {
      margin: 0;
      svg {
        color: var(--color-key);
        width: 100px;
        height: 100px;
      }
    }
    h3 {
      margin: 2px 0 0;
      font-size: 14px;
      font-weight: 600;
      font-family: var(--font-eng);
    }
  }
  &__paginate {
    user-select: none;
    .paginate {
      --size-paginate-item: 48px;
      --color-paginate-active: #e2e2e2;
      align-items: center;
      justify-content: center;
      > strong,
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-eng);
        font-size: 14px;
        line-height: 1.25;
        font-weight: 600;
        padding: 0 8px;
        color: var(--color-text);
        min-width: var(--size-paginate-item);
        height: var(--size-paginate-item);
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        svg {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
      > a {
        text-decoration: none;
        transition: background 150ms ease-out;
        &:active {
          background: var(--color-paginate-active);
        }
      }
      > strong {
        color: var(--color-key);
      }
      &--desktop {
        display: none;
      }
      &--mobile {
        display: flex;
        padding: 25px 0 0;
      }
    }
  }
  @include responsive(tablet) {
    --index-padding: 0 24px;
    &__header {
      h2 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: -1px;
      }
    }
    &__articles {
      --articles-column: 2;
      --articles-gap: 16px;
      --articles-line: none;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    &__empty {
      margin-top: 30px;
      padding: 12vh 0;
    }
    &__paginate {
      .paginate {
        --size-paginate-item: 40px;
        &--mobile {
          display: none;
        }
        &--desktop {
          display: flex;
          padding: 30px 0 0;
        }
      }
    }
  }
  @include responsive(desktop) {
    --index-padding: 0 64px;
  }
  @include responsive(max) {
    &__articles {
      --articles-column: 3;
    }
  }
  @include dark-mode() {
    &__header {
      h2 {
        color: #fff;
      }
    }
    &__articles {
      --articles-line: 1px solid #111;
    }
    &__paginate {
      .paginate {
        --color-paginate-active: #1a1a1a;
      }
    }
    @include responsive(tablet) {
      &__header {
        nav {
          background: none;
        }
      }
      &__articles {
        --articles-line: none;
      }
      &__empty {
        background: transparent;
      }
    }
  }
}

// categories
.categories {
  --color-categories-bg: #ecedef;
  margin: -5px auto 0;
  padding: 10px 20px;
  box-sizing: border-box;
  background: var(--color-categories-bg);
  user-select: none;
  &__index {
    margin: 0 -10px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    display: block;
    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      color: var(--color-text);
      font-size: 0;
      &:active {
        opacity: .5;
      }
    }
    span {
      font-size: 11px;
    }
    em {
      font-style: normal;
      font-size: 11px;
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
    &.on a {
      color: var(--color-key);
      cursor: default;
      text-decoration: underline;
      &:active {
        opacity: 1;
      }
    }
  }
  @include responsive(tablet) {
    --color-categories-bg: none;
    margin-top: -12px;
    padding: 0;
    &__index {
      margin: 0 -8px;
    }
    &__item {
      a {
        padding: 4px 8px;
        &:hover {
          opacity: .5;
        }
      }
      &.on {
        a {
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  @include dark-mode() {
    --color-categories-bg: #111;
  }
}

// article
.index-article {
  --size-article-item-height: 100px;
  --size-article-radius: 0;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  &:nth-child(n+2) {
    border-top: var(--articles-line);
  }
  &__wrap {
    display: flex;
    align-items: center;
    height: var(--size-article-item-height);
    background: #fff;
    text-decoration: none;
    border-radius: var(--size-article-radius);
    box-sizing: border-box;
    transition: background .2s ease-out;
    -webkit-tap-highlight-color: transparent;
    &:active {
      background: #f4f4f4;
    }
  }
  &__image {
    position: relative;
    margin: 0;
    width: var(--size-article-item-height);
    height: 100%;
    background: #fafafa;
    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > svg {
      --size-article-item-empty-icon: 34px;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      width: var(--size-article-item-empty-icon);
      height: var(--size-article-item-empty-icon);
      user-select: none;
      transform: translate(-50%, -50%);
      color: var(--color-text-blur);
      opacity: .75;
    }
  }
  &__body {
    flex: 1;
    padding: 0 16px;
    strong {
      display: block;
      font-size: 14px;
      color: var(--color-text);
      font-weight: 600;
      overflow: hidden;
      line-height: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    p {
      margin: 2px 0 0;
      font-size: 0;
      display: flex;
      align-items: center;
      span {
        font-size: 11px;
        color: var(--color-text-blur);
        display: flex;
        align-items: center;
        &:nth-child(n+2):before {
          content: ', ';
          display: block;
          margin: 0 5px 0 0;
        }
      }
      em {
        font-style: normal;
        &:nth-child(n+2):before {
          content: '/';
          padding: 0 2px;
        }
      }
    }
  }

  @include responsive(tablet) {
    --size-article-radius: 2px;
    &__wrap {
      position: relative;
      box-shadow: 0 3px 20px rgba(0,0,0,.1);
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        border: 1px solid var(--color-key);
        opacity: 0;
        transition: opacity 150ms ease-out;
        border-radius: var(--size-article-radius);
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &:active {
        background: none;
      }
    }
    &__image {
      > span {
        background: #ccc;
        > img {
          opacity: .1;
        }
      }
    }
    &__body {
      min-width: 0;
      padding: 0 20px;
      strong {}
      p {}
    }
  }
  @include dark-mode() {
    &__wrap {
      background: #2e2e2e;
      &:active {
        background: #222;
      }
    }
    &__image {
      background: #000;
      > span {
        background: #444;
        > img {
          opacity: .3;
        }
      }
    }
    @include responsive(tablet) {
      &__wrap {
        &:active {
          background: #2e2e2e;
        }
      }
    }
  }
}
