// font
$font-eng: Arial, sans-serif;

// color
$color-key: #64B80C;
$color-link: #206BDF;
$color-text-basic: #222;
$color-text-blur: #999;

// size
$size-max-mobile: 900px;
$size-max-min-mobile: 680px;