// font
$font-eng: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-base: 'Noto Sans', $font-eng;

// color
$color-key: #b31e37;
$color-link: #206BDF;
$color-text-basic: #222;
$color-text-blur: #999;

// size
$size-max-mobile: 900px;
$size-max-min-mobile: 680px;