@use '../assets/scss/mixins';

.article {
  --article-side-padding: 24px;
  margin: var(--article-top-margin, 24px) 0 0;
  padding: 0 var(--article-side-padding);
  &__header {
    text-align: center;
    h1 {
      margin: 0;
      font-size: 32px;
      line-height: 1.15;
      letter-spacing: -.1rem;
      word-break: break-all;
      color: var(--color-edge);
      font-weight: 700;
    }
    p {
      margin: 6px 0 0;
      color: var(--color-text-blur);
      font-size: 0;
      span {
        display: inline-block;
        font-family: var(--font-eng);
        font-size: 10px;
        &:nth-child(n+2):before {
          content: '/';
          display: inline-block;
          margin: 0 5px;
          line-height: 1.2;
        }
      }
    }
  }
  &__body {
    margin: 36px 0 0;
    min-height: 15vh;
  }
  &__star {
    margin: 36px 0 0;
    text-align: center;
  }
  &__empty {
    height: 100vh;
    min-height: calc(75vh - var(--size-header-height));
    max-height: calc(75vh - var(--size-header-height));
  }
  @include mixins.responsive(tablet) {
    --article-side-padding: 62px;
    &__header {
      h1 {
        font-size: 42px;
        line-height: 1.05;
      }
      p {
        span {
          font-size: 11px;
        }
      }
    }
    &__body {
      max-width: 900px;
      margin: 42px auto 0;
    }
  }
}

.comments {
  margin: 40px 0 0;
  padding: 0;
  &__title {
    margin: 0;
    font-size: 0;
  }
  &__index {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 16px;
    max-width: 680px;
  }
  @include mixins.responsive(tablet) {
    margin-top: 72px;
    padding: 0 62px;
    &__index {
      gap: 32px;
    }
  }
}
