@use '../scss/mixins';

.layout {}

.layout-header {
  z-index: 3;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  height: var(--size-header-height);
  box-sizing: border-box;
  background: hsla(0 0% 32% / 75%);
  box-shadow: inset 0 -.5px 0 hsla(0 0% 100% / 40%), 0 1px 12px hsla(0 0% 0% / 20%);
  @include mixins.background-blur(24px);
  > .wrap {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  @include mixins.responsive(tablet) {
    padding: 0 var(--size-side-padding);
    .wrap {
      // TODO: display: grid; 로 바꾸고 다시 조정해야겠다.
      // TODO: 아니면 일일히 조정하던지..
    }
  }
  @include mixins.dark-mode() {
    background: hsla(0 0% 10% / 75%);
    box-shadow: inset 0 -.5px 0 hsla(0 0% 100% / 30%), 0 1px 12px hsla(0 0% 0% / 30%);
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 2px;
  margin: 0;
  z-index: 2;
  transform: translateX(-50%);
  a {
    display: block;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    outline: none;
    &:focus-visible {
      @include mixins.focus-outline();
    }
  }
  img {
    display: block;
    width: 62px;
    height: auto;
    filter:
      drop-shadow(0 0 1px hsla(0 0% 0% / 20%))
      drop-shadow(0 2px 2px hsla(0 0% 0% / 20%));
  }
  @include mixins.responsive(tablet) {
    left: 12px;
    top: 4px;
    margin: 0;
    transform: none;
    a {
      padding: 0;
      &:focus-visible {
        outline-offset: 0;
      }
    }
    img {
      width: 72px;
    }
  }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  @include mixins.responsive(tablet) {
    left: auto;
    right: 100px;
  }
  @include mixins.responsive(desktop) {
    right: 120px;
  }
}

.dark-mode-switch {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  -webkit-tap-highlight-color: transparent;
  goose-dark-mode-switch {
    display: block;
    --dark-switch-width: 26px;
    --dark-switch-height: 26px;
    --dark-switch-padding: 10px;
    --dark-switch-icon-size: 16px;
    --dark-switch-active-offset: 0px;
    --dark-switch-bg: var(--color-reverse);
    --dark-switch-focus-color: var(--color-key);
    --dark-switch-focus-width: 3px;
    --dark-switch-focus-style: dashed;
  }
  @include mixins.responsive(tablet) {
    right: 60px;
  }
  @include mixins.responsive(desktop) {
    right: 72px;
  }
}

.search {
  position: absolute;
  top: 0;
  right: 0;
}

.layout-footer {
  margin: 52px 0 24px;
  padding: 0 0 24px;
  box-sizing: border-box;
  &__copyright {
    margin: 0;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: var(--color-weak);
    user-select: none;
    a {
      &:focus-visible {
        @include mixins.focus-outline(3px, 3px);
      }
    }
  }
  @include mixins.responsive(tablet) {
    margin: 72px 0 0;
  }
}
